
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.dancing-script-cursive {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
#title{
    min-height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffebcd;
    background: center no-repeat url('https://orders.co/static/99a59eec0735fca313bf2b93349bd5d6/f659b/Italian-Restaurant-Design-Creating-an-Inviting-Ambiance.png');
}
#title>h1{
    margin-top: 60px;
}
#imgWrapper{
    margin: auto;
    height: 200px;
    width: 140px;
    background-color: #516e7f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border: 2px solid white;
}
img{
    height: 130px;
    width: 130px;
}

#info{
    background-color: white;
    min-height: 50vh;
    text-align: center;
    padding: 50px 130px;
    font-family: "Dancing Script", cursive;
}
#h3{

    font-family: "Dancing Script", cursive;
    color: #516e7f;
    font-size: 3em;
}
#p{
    margin-top: 50px;
    font-size: 1.5em;
}

@media (max-width: 500px) {
    #content{
        width: 97vw;
    }
    #info{
        font-size: 0.9em;
        padding: 5px 20px;
    }
}