*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav{
    
    color: white;
    height: 10vh;
    background-color: #516e7f;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    
}
span{
    margin-left: 5px;
    font-size: 0.6em;
    letter-spacing: 4px;
}
#button{
    
    appearance: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    width: 70px;
    border-radius: 50px;
}#button:hover, #button:focus{
    cursor: pointer;
    background-color: #3a5a6e;
    box-shadow: 4px 4px 5px #1e3645;
}
.cartSvg{
    color: white;
    width: 30px;
    pointer-events: none;
}

footer{
    color: white;
    height: 10vh;
    background-color: #516e7f;
    
    display: flex;
    align-items: center;
    justify-content: center;
}